/* body{
    display: grid;
    place-items: center;
} */
.animate{
    opacity: 0;
    filter: blur(5px);
    /* transform: translateX(-100%); */
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.slider{
   /* height: 250px; */
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items:center;
    overflow: hidden;
}
.slide-track{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*9));
    }
}

.slide{
    /* height: 200px;
    width: 250px; */
    display: flex;
    align-items: center;
    padding: 15px;
}
img{
    /* width:100%; */
}
.slider::after{
    background: linear-gradient(to top, rgb(246, 221, 221)0%, rgba(255, 255, 255, 0));
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
    margin-top: 30%;
}
 .slider::after{
  
    transform: rotate(0deg);
 }


